/* HeroDetailComponent's private CSS styles */
input
{
  padding: 10px;
  margin: 10px;
  border: 0;
  border-bottom: 2px solid #FFBF2F;
}
label{
  color: #FF4981;
  
}

  button {
    background-color: #A37DFB;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    padding: 10px;
    margin: 5px;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }

  .box
  {
    padding: 0.7em 0.7em 0.7em 0.7em;
    background-color: white;
    border-radius: 4px 4px 4px 4px;
    margin: 15px;
    padding: 10px;
  }